.contact_container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
}
.contact_title {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.contact_info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}
.contact_card {
  background-color: var(--container-color);
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 2rem;
  border-radius: 0.75rem;
  text-align: center;
}
.contact_card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}
.contact_card-title,
.contact_card-data {
  font-size: var(--small-font-size);
}
.contact_card-title {
  font-size: var(--font-medium);
}
.content_card-data {
  display: block;
  margin-bottom: var(--mb-0-75);
}
.contact_button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}
.contact_panel {
  width: 360px;
  background-color: var(--container-color);
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: 2rem;
}
.contact_panel-text {
  line-height: 1.7;
  margin-bottom: 1rem;
}
.contact_panel .button {
  margin-top: 0.5rem;
}
@media screen and (max-width: 992px) {
  .contact_container {
    column-gap: 3rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .contact_info {
    justify-content: center;
  }
  .contact_panel {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact_panel {
    width: 100%;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
